@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(20px);
  }
}

@keyframes fade-to-top {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes z-index-fade-out {
  0% {
    z-index: 0;
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    z-index: -1;
    transform: translateX(-70px);
    opacity: 0;
  }
}
