.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  .content-text {
    background: #ebe772;
    color: $black;
    font-family: $text;
    display: flex;
    align-items: center;
    // text-align: center;
    height: 450px;
    padding-left: 3rem;
    padding-right: 4rem;
    h3 {
      font-size: 3rem;
      font-weight: 700;
    }
  }
  .content-image {
    background-image: url(../assets/grid.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
  }
}
