@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
.menu-parent {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
}

.menu-parent #blurryscroll {
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  overflow: hidden;
  position: fixed;
  -webkit-filter: blur(120px);
          filter: blur(120px);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -500;
}

.menu-parent .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 64px;
}

.menu-parent .menu .navbar {
  color: #fff;
}

.menu-parent .menu .navbar .nav-links {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  line-height: 32px;
}

.menu-parent .menu .navbar .nav-links a {
  text-decoration: none;
  color: #fff;
}

.menu-parent .menu .navbar .nav-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.menu-parent .menu .navbar .nav-links a:hover::after {
  width: 100%;
}

.menu-parent .menu .navbar .nav-links li {
  margin-right: 12px;
}

.menu-parent .menu .navbar .nav-links button {
  color: #fff;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  background: #9ebe53;
  border-radius: 100px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
}

.menu-parent .menu .navbar .nav-links button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #ebe772;
  color: #1b1947;
}

@media screen and (max-width: 767px) {
  .menu {
    padding: 16px 32px !important;
  }
  .menu .logo img {
    width: 88px;
  }
  .menu .hamburger .line {
    height: 2px;
    width: 25px;
    margin-bottom: 3px;
  }
  .menu .hamburger .open.line:nth-child(3) {
    -webkit-transform: rotate(135deg) translate(-3px);
            transform: rotate(135deg) translate(-3px);
  }
}

@media screen and (max-width: 976px) {
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: -5px;
    -webkit-transform: translate(-5%, -5px);
            transform: translate(-5%, -5px);
    z-index: 2;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin-bottom: 5px;
    -webkit-transition: opacity 0s linear, -webkit-transform 350ms ease-in-out;
    transition: opacity 0s linear, -webkit-transform 350ms ease-in-out;
    transition: transform 350ms ease-in-out, opacity 0s linear;
    transition: transform 350ms ease-in-out, opacity 0s linear, -webkit-transform 350ms ease-in-out;
  }
  .hamburger .open.line:nth-child(2) {
    background: #1b1947;
    -webkit-transform: rotate(45deg) translate(5px);
            transform: rotate(45deg) translate(5px);
  }
  .hamburger .open.line:nth-child(3) {
    background: #1b1947;
    -webkit-transform: rotate(135deg) translate(-6px);
            transform: rotate(135deg) translate(-6px);
  }
  .hamburger .open.line:nth-child(1) {
    opacity: 0;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    -webkit-transition: all 0.6s ease 0.2s;
    transition: all 0.6s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.6s ease 0.4s;
    transition: all 0.6s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.6s ease 0.6s;
    transition: all 0.6s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    -webkit-transition: all 0.6s ease 0.8s;
    transition: all 0.6s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    -webkit-transition: all 0.6s ease 1s;
    transition: all 0.6s ease 1s;
  }
  .nav-links li:nth-child(6) {
    -webkit-transition: all 0.6s ease 1.2s;
    transition: all 0.6s ease 1.2s;
  }
  .nav-links li.fade {
    opacity: 1;
  }
  .nav-links li a {
    color: #1b1947 !important;
  }
  .nav-links.open {
    clip-path: circle(1350px at 90% -10%);
    -webkit-clip-path: circle(1350px at 90% -10%);
    background-color: #ebe772 !important;
  }
  .nav-links.open li:not(:last-child)::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1b1947;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  .nav-links.open li:not(:last-child):hover::after {
    width: 100%;
  }
}

.main .content-text {
  background: #ebe772;
  color: #1b1947;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  line-height: 1.3;
}

.main .content-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.main .content-image {
  background-image: url(../assets/grid.jpg);
  background-position: center;
  background-size: cover;
  min-height: 260px;
}

@media only screen and (min-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .col-1-2 {
    width: 50%;
  }
  .main .content-text {
    padding: 5rem 3rem;
  }
  .main .content-text h3 {
    font-size: 3rem;
    line-height: 108%;
  }
  .main .content-image {
    background-position: 80% 50%;
  }
}

@media only screen and (min-width: 960px) {
  .main .content-text {
    padding: 4rem 4rem 4rem 3rem;
  }
  .main .content-text h3 {
    font-size: 4rem;
    line-height: 108%;
  }
}

@media only screen and (min-width: 1376px) {
  .main .content-text {
    padding: 8rem 14rem 8rem 3rem;
  }
  .main .content-text h3 {
    font-size: 72px;
    line-height: 108%;
  }
}

footer {
  background: -webkit-gradient(linear, left bottom, left top, from(#1b1947), to(#1b1947)), url(../assets/grid.jpg);
  background: linear-gradient(0deg, #1b1947, #1b1947), url(../assets/grid.jpg);
  padding: 24px 32px;
  text-align: center;
}

footer li {
  margin-right: 12px;
  display: inline;
}

footer li a {
  text-decoration: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 20px;
}

footer li a:hover {
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 40px 64px;
  }
  footer li a {
    font-size: 16px;
    line-height: 23px;
  }
}

.banner {
  height: 40vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 42, 36, 0.5)), color-stop(27.62%, rgba(40, 42, 36, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(40, 42, 36, 0.2)), to(rgba(40, 42, 36, 0.2))), url(../assets/banner.jpg);
  background-image: linear-gradient(180deg, rgba(40, 42, 36, 0.5) 0%, rgba(40, 42, 36, 0) 27.62%), linear-gradient(0deg, rgba(40, 42, 36, 0.2), rgba(40, 42, 36, 0.2)), url(../assets/banner.jpg);
  background-position: 0 75%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

.banner .title {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #fff;
  padding: 8px;
}

.banner .title h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
  text-shadow: 0px 2px 20px rgba(24, 24, 24, 0.1);
}

.banner .title p {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 50vh;
  }
  .banner .title h1 {
    font-size: 5rem;
  }
  .banner .title p {
    font-size: 24px;
  }
}

@media screen and (min-width: 976px) {
  .banner {
    height: 65vh;
  }
  .banner .title h1 {
    font-size: 110px;
    line-height: 93.75%;
  }
  .banner .title p {
    font-size: 32px;
    line-height: 50px;
  }
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */